@media(max-width: 991px){
    .mobile-nav{
        padding: 15px 0;
    }
    .banner_slider img{
        height: 100%;
      }
    .banner_slider .slick-dots {
        bottom: 5px;
      }
    .banner_slider .slick-dots li button {
        width: 7px;
        height: 7px;
      }
      #order_type {
        padding: 30px 0;
      }
      #order_type .heading h3 {
        font-size: 25px;
      }
      #order_type .order_type_button a{
         padding: 10px 15px;
         font-size: 12px;
      }
      #order_type .order_type_button{
        margin: 10px 0;
      }
      .heading h3 {
        font-size: 30px;
      }
      #featured_menu {
        padding: 30px 0;
      }
      #featured_menu .heading img{
        left: -7px;
        top: -15px;
      }
      #category_menu .heading h3{
        font-size: 30px;
      }
      #category_menu .heading img{
        left: -7px;
        top: -15px;
      }
      #happy_customer .heading h3{
      font-size: 35px;
      }
      #footer {
        margin-top: 50px;
      }
      #top_bar p{
        font-size: 10px;
      }
      #categorise_menu .heading{
        margin-top: 50px;
      }
      #categorise_menu .heading img{
        position: absolute;
        left: 60px !important;
        top: -18px;
      }
      #categorise_menu .card {
        padding: 40px 10px;
      }
      .grid {
        column-count: 2;
        column-gap: 15px;
      }
      .grid .item:nth-child(n+6) {
        display: none;  
      }
      #login .card-content{
        margin-left: 0;
      }
      #login .card-content .contents .form-group input{
        width: 310px;
      }
      #login .card-content .contents .action_btns a{
        padding: 10px 80px;
      }
      #login .card-content .contents .form-group label{
        margin-left: 9%;
      }
      #menu .content .dish-card .dish-image a{
        position: absolute;
        right: 15px;
        bottom: 40px;
      }
      #menu .content .dish-card .dish-details h4{
        font-size: 18px;
      }
      #menu .content .dish-card .dish-details span{
        font-size: 14px;
      }
      #menu .content .dish-card .dish-details p{
        font-size: 14px;
      }
      .btn-send {
        padding: 10px 150px;
      }
      #menu .header .menu-category li a {
        padding: 8px 10px;
        font-size: 15px;
      }
}