*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Protest Riot", sans-serif;
  --third-family: "Caveat", sans-serif;
  --font3: "Inter", sans-serif;
  --primary-color: #ec1a23;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iconify-icon {
  display: inline-flex;
  align-items: center;
  line-height: 10%;
  vertical-align: middle;
}
/* TopBar Start Here */
#top_bar {
  height: 50px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
}
#top_bar p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
#top_bar .social_links li {
  margin: 0 8px;
}
#top_bar .social_links li a {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
/* TopBar Ends Here */

/* NavBar Start Here */
nav {
  padding: 30px 0;
}
nav .quick_links li {
  margin: 0 9px;
}
nav .quick_links li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
nav .quick_links li a.active,
nav .quick_links li a:hover {
  color: var(--primary-color);
}
.custom_btn a {
  border-radius: 10px;
  background: #ec1a23;
  padding: 11px 25px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.custom_btn a iconify-icon {
  font-size: 25px;
  vertical-align: middle;
}
.mobile-nav .btn {
  font-size: 20px;
}
.mobile_logo img {
  width: 60px;
}
.mobile-nav .search_icon a {
  color: #000;
  font-size: 20px;
}
.offcanvas {
  max-width: 80%;
}
.mobile-nav .btn:focus {
  box-shadow: none;
}
header .offcanvas-body ul li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
header .offcanvas-body ul li a.active,
header .offcanvas-body ul li a:hover {
  color: var(--primary-color);
}
header .offcanvas-body ul li {
  margin: 10px 0;
}
/* NavBar Ends Here */

/* Banner Start Here */
.banner_slider img {
  width: 100%;
  height: 80vh;
}
.banner_slider {
  position: relative;
}
.banner_slider .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.banner_slider .slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: var(--primary-color);
  opacity: 0.4;
  transition: all 0.3s ease;
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.banner_slider .slick-dots li button:before {
  content: "" !important;
  display: none !important;
}

.banner_slider .slick-dots li.slick-active button {
  opacity: 1;
  transform: scale(1.3);
}

/* Banner End Here */

/* Order Type Start Here */
#order_type {
  padding: 50px 0;
}
#order_type .heading h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  color: #000;
  text-align: center;
}
#order_type .heading h3 span {
  color: var(--primary-color);
}
#order_type .order_type_button a {
  background: var(--primary-color);
  padding: 13px 71px;
  border-radius: 6px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
#order_type .order_type_button a:hover {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}
/* Order Type End Here */

/* fetured Menu Start Here */
#featured_menu {
  padding: 50px 0;
}
.heading h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  color: #000;
  margin-left: 10px;
}
.heading h3 span {
  color: var(--primary-color);
}
.heading {
  position: relative;
}
#featured_menu .heading img {
  position: absolute;
  left: -9px;
  top: -10px;
}
#featured_menu .featured_items {
  border-radius: 15px;
  position: relative;
}
#featured_menu .featured_items .label {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
}
#featured_menu .featured_items .label p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
#featured_menu .featured_items img {
  border-radius: 15px;
}
#featured_menu .featured_items .content {
  padding: 20px;
}

/* fetured Menu End Here */

/* Category Start Here */
.category_slider {
  padding: 30px 0;
}
#categorise_menu .heading img{
  position: absolute;
  left: 470px !important;
  top: -15px;
}
#categorise_menu .card {
  border: none;
  background: #fff;
  padding: 105px 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 20px;
}
#categorise_menu .card h5 {
  margin-top: 15px;
  font-weight: 600;
  color: #000;
  font-family: var(--font-family);
}
#categorise_menu .card .iconify-icon {
  font-size: 60px;
  color: var(--primary-color);
}
#categorise_menu .card .item_count {
  position: absolute;
  background: var(--primary-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#categorise_menu .card .item_count p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.slick-prev,
.slick-next {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  z-index: 10;
}
.slick-prev::before,
.slick-next::before {
  font-size: 20px;
  color: #333;
}

/* Category End Here */
.category_slider .slick-slide {
  margin: 0 12px;
}

.category_slider .slick-list {
  margin: 0 -12px;
}

/* Set Menu Start Here */
#set_menu {
  padding-top: 20px;
}
#set_menu .heading img {
  position: absolute;
  left: -9px;
  top: -12px;
}
#set_menu .category_menu {
  margin: 10px 0;
}
.view_all_btn a {
  background: var(--primary-color);
  padding: 12px 20px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease;
  display: inline-block;
  align-items: center;
}
.view_all_btn a .iconify-icon {
  margin-left: 5px;
  font-size: 25px;
}
/* Set Menu End Here */

/* Happy Customer Start Here */
#happy_customer {
  padding: 50px 0;
}
#happy_customer .heading h3 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
#happy_customer .heading h3 span {
  color: var(--primary-color);
}
#happy_customer .heading p {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin-top: 10px;
}
#happy_customer .content {
  width: 100%;
}
.grid {
  column-count: 4;
  column-gap: 15px;
}

.grid .item {
  break-inside: avoid;
  margin-bottom: 15px;
}

.grid img {
  width: 100%;
  border-radius: 6px;
  display: block;
}
.custom_memory_btn a {
  border-radius: 5px;
  background: var(--primary-color);
  padding: 13px 25px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.custom_memory_btn a:hover {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}

/* Happy Customer End Here */

/* footer Start Here */
#footer {
  background: #1a1a1a;
  height: auto;
}
#footer .content {
  padding: 87px 0 80px 0;
}
#footer .left-row p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-top: 22px;
}
#footer .left-row .social-links a {
  color: #fff;
  font-size: 30px;
  gap: 0;
  margin: 0 10px;
}
#footer .middle-row h4 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
#footer .middle-row ul li a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
#footer .middle-row ul li {
  margin: 10px 0;
}
#footer hr {
  color: #fff;
  margin: 50px 0;
}
#footer .right-row iframe {
  width: 400px;
  height: 200px;
}
#footer .copyright p {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
/* footer End Here */

/* Custom Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before,
.slick-next:before {
  content: "";
}



/* !Login Page Csss */
#login{
  padding: 80px 0;
  background: #f0f0f0;
}

#login .card-content{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* width: 480px;
  height: 440px; */
  margin-left: 60px;
  background-image: #fff;
}
#login .card-content .heading img{
  padding-bottom: 20px;
  padding-top: 40px;
}
#login .card-content .heading h3{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  color: #000;
  margin-left: 10px;
  text-align: center;
}
#login .card-content .heading p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  text-align: center;
  margin-top: 5px;
}
#login .card-content .contents .form-group label{
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 11%;
}
#login .card-content .contents .form-group input{
  width: 450px;
  padding: 10px ;
  border: 1px solid #000;
  background: transparent;
  border-radius: 5px;
}

#login .card-content .contents .login_btn{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 100px;
  background: var(--primary-color);
  color: #fff;
  font-family: var(--font-family);
  border: none;
  outline: none;
  border-radius: 5px;
}
#login .card-content .contents .action_btns{
  padding: 15px 0;
}
#login .card-content .contents .action_btns a{
  padding: 10px 120px;
  border: 1px solid #000;
  font-family: var(--font-family);
  color: #000;
  border-radius: 5px;
}
#login .action_btns .coloring {
  color: var(--primary-color);
  font-size: 20px;
  margin-right: 5px;
}
#login .action_btns span{
  color: var(--primary-color);
  font-size: 12px;
}


/* !Menu Start Here */
#menu .header h3 {
  padding: 10px 0;
  font-family: var(--second-family);
  font-size: 35px;
}
#menu .header h3 span {
  color: var(--primary-color);
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#menu .header .menu-category {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
#menu .header .menu-category::-webkit-scrollbar {
  display: none; 
}

#menu .header .menu-category li {
  flex: 0 0 auto;
}

#menu .header .menu-category li a {
  font-family: var(--font-family);
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: 0.3s ease;
  white-space: nowrap;
}
#menu .header .menu-category li a.active {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
#menu .header .menu-category li a:hover {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.scroll-btn {
  background: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.scroll-btn.left {
  left: -5px;
}
.scroll-btn.right {
  right:-5px;
}
#menu .content .dish-card {
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px 10px 20px 0;
  cursor: pointer;
}

#menu .content .dish-card .dish-details h4{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
}
#menu .content .dish-card .dish-details span{
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 15px;
  margin: 15px 0;
}
#menu .content .dish-card .dish-details span del{
  color: #585656;
}
#menu .content .dish-card .dish-details p{
  font-family: var(--font-family);
}
#menu .content .dish-card .dish-image{
  position: relative;
}
#menu .content .dish-card .dish-image img{
  border-radius: 5px;
}
#menu .content .dish-card .dish-image a{
  position: absolute;
  right: 15px;
  bottom: 25px;
}
#menu .content .dish-card .dish-image button{
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal Wrapper */
.food-modal {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

/* Close Button */
.food-modal .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 30px;
}

/* Food Image */
.food-img {
  max-height: 280px;
  object-fit: cover;
}
.food-modal .details h5,
.food-modal .details h6
{
  font-family: var(--font-family);
  font-weight: 600;
}
.food-modal .details p{
  font-family: var(--font-family);
  color: var(--primary-color);
}

/* Price */
.price del {
  font-family: var(--font-family);
  margin: 0 6px;
  color: #333;
}

/* Sticky Footer */
.sticky-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 12px 20px;
  border-top: 1px solid #eee;
}

/* Quantity */
.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
}
.qty-btn {
  background: #f5f5f5;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  cursor: pointer;
}
#qtyInput {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: bold;
}

/* Add to Cart Button */
.add-cart-btn {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 16px;
  transition: 0.3s ease;
}
.add-cart-btn:hover {
  background: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* contact page css start */
.contact-info-page {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  height: 150px;
  margin-bottom: 20px;
  font-family: var(--font-family);
}
#contact_us_page .contact-form h5{
  font-family: var(--second-family);
  font-size: 40px;
}
#contact_us_page .contact-form h5 span{
  color: var(--primary-color);
}
#contact_us_page .contact-form p{
  font-family: var(--font-family);
  margin-bottom: 20px;
}
#map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.btn-send {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 280px;
  border: none;
  margin-top: 10px;
}
.btn-send:hover {
  color: var(--primary-color);
  background: #fff;
  border: 1px solid var(--primary-color);
}

.contact-info-page{
  position: relative;
  margin-top: 30px;
}
.contact-info-page p{
  margin-top: 20px;
}
.contact_icon {
  position: absolute;
  display: block;
  margin-bottom: 10px;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
}
.contact-info-page:hover{
  cursor: pointer;
  scale: 1.1;
}
